<!-- 가입 실패시 메일 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body
        style="
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
      background-color: #f9f9f9;
    "
>
<div
        style="
        max-width: 600px;
        margin: 0 auto;
        background-color: #ffffff;
        padding: 20px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      "
>
    <h1 style="text-align: center; margin-bottom: 50px">
        <img
                src="https://wingle-bucket.s3.ap-northeast-2.amazonaws.com/wingleResource/wingle_logo.png"
                alt="logo"
                width="138"
                height="83"
        />
    </h1>
    <h1 style="text-align: center; margin-bottom: 50px">
        &nbsp;안녕하세요<br/>&nbsp;WINGLE입니다.&nbsp;
    </h1>
    <p style="text-align: center; margin-bottom: 30px">
        안녕하세요 <span th:text="${name}"></span>님<br/>
        아래와 같은 사유로 가입에 실패하였습니다.
    </p>
    <p style="text-align: center; margin-bottom: 50px">
        <span><strong>[사유 : <span th:text="${reason}"></span>]</strong></span
        ><br/>
        <br/>
        아래 링크를 눌러 회원가입을 다시 진행해주시기 바랍니다.
    </p>
    <div style="text-align: center">
        <a
                th:href="@{https://wingle-kder.vercel.app/auth/login}"
                style="
            color: #ff6600;
            text-decoration: none;
            border: 1px solid #ff6600;
            padding: 16px 30px;
            border-radius: 4px;
          "
        >
            <strong>WINGLE 바로가기</strong>
        </a>
    </div>
    <p style="text-align: center">&nbsp;</p>
    <p style="text-align: center">&nbsp;감사합니다.&nbsp;</p>
</div>
</body>
</html>